node_modules/
src/botkit/node_modules
src/examples/db_slackbutton_bot/
src/examples/db_slackbutton_incomingwebhook/
src/examples/db_slackbutton_slashcommand/
src/examples/db_team_bot/
db/
storage/
.DS_Store
*/.DS_Store
.env
